.showcase-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.cards-in-showcase-div{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
