.card-div {
    height: 23vw;
    width: 23vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.card-img {
    grid-row: 1;
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  


.desc-sec-div{
    grid-row: 2;
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-top: 2vh;
}


.desc-title{
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    opacity: 1;
    transition: opacity 1s ease-out;
    color: #27374D;
    text-align: center;
}

.desc-text{
    font-family: Inter;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.desc-button-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2vh;
    gap: 2vw;
}

.button-sec-href{
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 40px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: "Inter";
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 12px;
    width: 7vw;
}