
.header {
  opacity: 0;
  transition: opacity 3s ease;
}

.header.fade-in {
  opacity: 1;
}


span {
  display: inline-block;
  text-align: left;
  font-family: Inter;
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
  opacity: 1;
  color: #27374D;
}

.gradient-text {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  
  
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}