.bar-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.email-button{
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 30px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 12px;
  text-decoration: none;
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.75s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(+20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
