body, html {
  height: 100%;
  margin: 0;
}

.App-div{
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  flex-direction: column;
}


@media (max-width: 768px) {
  .App-div{
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
